  /* === VARIABLES === */
:root {
    --primary-color: #00A09B;
    --dark-color: #1D1D1B;
    --light-color: #FFFFFF;
    --transition-speed: 0.3s;
  }

  .why-us-section{
    position: relative;       /* ancoriamo il canvas */
    overflow: hidden;         /* taglia le particelle fuori area */
    padding: 0;
    margin: 0 auto;
    z-index: 2;
    padding-top: 70px;
  }
  
  /* === WHY US === */
  .why-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    padding: 0 0.5rem 0rem;  /* un po’ di padding orizzontale per non attaccarle ai bordi */
    background: var(--light-color);
  }
  
  
  .counter-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .counter-icon {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 0.1rem;
  }
  
  .counter-number {
    position: relative;
    font-size: clamp(2rem, 4vw, 5rem);
    font-weight: 900;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #ffffff;
}
  
  .counter-number.animate {
    transform: scale(1.2);
  }
  
  .counter-prefix,
  .counter-suffix {
      font-size: clamp(1.5rem, 4vw, 3rem);
      line-height: 1;
      vertical-align: middle;
      margin: 0 0.1rem;
  }

  .counter-label {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: var(--light-color);
    margin-top: 0.2rem;
  }

  .ImgWhy-us {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0rem 0.1rem 2rem 0.1rem;
    
  }
  
  .ImgWhy-us img {
    width: 100%;
    height: 25rem;
    display: block;
    object-fit: cover;
  }
  
  .ImgWhy-us::before {
    /* Sfumatura sopra */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 2;
    pointer-events: none;
  }
  
  .ImgWhy-us::after {
    /* Sfumatura sotto */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 2;
    pointer-events: none;
  }
  
  /* From Uiverse.io by Spacious74 */ 
.outer {
  width: 100%;
  height: 100%;
  max-width: 300px;
  aspect-ratio: 300/250;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  position: relative;
  
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: 88%;
  }
  50% {
    top: 88%;
    right: 88%;
  }
  75% {
    top: 88%;
    right: 10%;
  }
}

.card {
  width: 100%;    
  height: 100%;   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 9px;
  background: radial-gradient(circle 280px at 0% 0%, var(--primary-color), #004e4c);
  color: #fff;
}
.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.card .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}

@media (max-width: 768px) {
  .why-us-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    justify-items: center; 
  }

  .outer {
    max-width: 180px;
    aspect-ratio: 300 / 250;    /* mantiene il rapporto originale */
    width: 100%;
    min-width: 150px;
  }

  .counter-label{
    font-size: clamp(0.5rem, 4vw, 0.8rem);
  }
  .why-us-grid .counter-item:nth-child(3) {
    grid-column: 1 / -1;    /* occupa entrambe le colonne */
    min-width: 150px;
  }
}
